<div class="flex-1 h-full w-full flex-col" >
<div class="flex text-sky-200 mb-2 ">
  <label class="py-2 bg-slate-700 rounded-l-md p-3"> Eurocents: </label>

  <input
    [(ngModel)]="amount"
    (blur)="resetScroll()"
    (ngModelChange)="updateCost()"
    type="number"
    inputmode="numeric"
    class="p-1 w-full text-center text-2xl bg-slate-900 focus:outline-none focus:ring focus:border-blue-300"
  />
</div>
<div cdkDropListGroup class="flex flex-row flex-1 text-sky-200 grid grid-cols-3 h-full">
  <div class="bg-red-900">
    <h1 class="text-1xl font-bold m-4">Looser</h1>
  <div
    class="drop-div pl-0"
    cdkDropList
    [cdkDropListData]="loosers"
    (cdkDropListDropped)="drop($event)"
    #looser="cdkDropList"
  >
    @for (item of loosers; track $index) {
      <div
        class="card-div relative rounded-r-lg mr-10 ml-0 bg-red-700"
        cdkDrag
      >
        <p class="flex justify-center">{{ item.p.name }}</p>
        <p
          class="text-red-300 text-xs absolute top-2 right-2"
          *ngIf="item.c != 0"
        >
          {{ item.c }}¢
        </p>
      </div>
    }
  </div>
  </div>
  <div class="bg-slate-900">
    <h1 class="text-1xl font-bold m-4">All</h1>
  <div
    class="drop-div m-4"
    cdkDropList
    [cdkDropListData]="players"
    (cdkDropListDropped)="drop($event)"
    #all="cdkDropList"
  >
    @for (item of players; track $index) {
      <div
        class="card-div relative rounded-lg shadow-md bg-slate-700"
        cdkDrag
      >
        <p class="flex justify-center">{{ item.p.name }}</p>
      </div>
    }
  </div>
  </div>
  <div class="bg-green-950">
    <h1 class="text-1xl font-bold m-4">Winner</h1>
  <div
    class="drop-div pr-0"
    cdkDropList
    [cdkDropListData]="winners"
    (cdkDropListDropped)="drop($event)"
    #winner="cdkDropList"
  >
    @for (item of winners; track $index) {
      <div
        class="card-div relative rounded-l-lg ml-10 bg-green-700"
        cdkDrag
      >
        <p class="flex justify-center">{{ item.p.name }}</p>
        <p
          class="text-green-300 text-xs absolute top-2 right-2"
          *ngIf="item.c != 0"
        >
          +{{ item.c }}¢
        </p>
      </div>
    }
  </div>
    <button
      (click)="addAmount(10)"
      class="outline-l active:outline-none"
    >
      +10
    </button>
    <button
      class="bg-indigo-950 py-2 rounded-bl-md w-1/3 active:bg-indigo-800 active:outline-none"
      (click)="doubleAmount()"
    >
      x2
    </button>
  </div>
</div>
</div>
