<button (click)="addGame()">Neue Runde</button>
<button (click)="addPlayer()">Neuer Spieler</button>

<table class="table-fixed min-w-full border border-gray-300 divide-y divide-gray-300">
  <thead class="bg-blue-100">
    <th >Runde</th>
    <th class="px-6" *ngFor="let player of playersOver ">{{player.name}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let game of games; let i = index" class="text-center">
    <p class="bg-gray-50" >{{i+1}}</p>
    <td *ngFor="let player of playersOver">
      <p *ngIf="relationById(player,game) < 0"
      class="text-red-500">
        {{relationById(player,game)}}
      </p>
      <p *ngIf="relationById(player,game) > 0">
        {{relationById(player,game)}}
      </p>
    </td>
  </tr>
  <tr class="text-center bg-gray-200">
    <td>∑</td>
    <td *ngFor="let p of sum">
      {{p.sum.splice(-1)}}
    </td>
  </tr>
  </tbody>
</table>
